<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inicio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body style = "background-color:ghostwhite;">

<!--Divisor master, todo irá aquí-->
<div class="container-fluid">

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#" id="logo">
            <img th:src="@{img/logo.jpg}" width="200px" height="60px">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="../index2">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index2/servicios2">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index2/galeria2">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index2/agenda">Agenda</a>
                <li class="nav-item">
                    <a class="nav-link" href="../index2/vehiculos">Vehículos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index2/clientes">Clientes</a>
                </li>

            </ul>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <th:block th:unless="${session.usuarioLogueado==null}">
                    <li class="nav-item dropdown float-right">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false"
                            th:text="${session.usuarioLogueado.getNombre()}">Dropdown</a>
                        <div class="dropdown-menu">

                            <form action="logout" method="post">
                                <input class="dropdown-item" type="submit" value="Cerrar Sesión">

                            </form>
                        </div>
                    </li>
                </th:block>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>

    <div id="portada" class="container">

        <br>
        <br>
        <br>
        <br>

        <div class="row align m-2">
            <h1>Clientes registrados</h1>

        </div>

        <table class="table">

            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Run</th>
                <th>E-mail</th>
                <th>Telefono</th>
                <th>  </th>

            </tr>
            </thead>
            <tbody>
            <tr th:each=" c : ${listaClientes}">
                <td scope="row" th:text="${c.getIdCliente()}"></td>
                <td th:text="${c.toString()}"></td>
                <td th:text="${c.getRun()}"></td>
                <td th:text="${c.getEmail()}"></td>
                <td th:text="${c.getTelefono()}"></td>
                <td>
                    <a th:href="'../index2/clientes/'+${c.getIdCliente()}+'/verVehiculos'"  type="button" class="btn btn-sm btn-success"> Ver autos</a>
                </td> 
            </tr>
            </tbody>

        </table>

        <a href="../index2/clientes/crearCl" type="button" class="btn btn-success" >Agregar Cliente Nuevo</a>
        <br>

    </div>



</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>