<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Estado</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body style="background-color:ghostwhite;">

<!--Divisor master, todo irá aquí-->

<div class="container-fluid">

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#" id="logo">
            <img th:src="@{img/logo.jpg}" width="200px" height="60px">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reserva_hora">Reservar hora</a>
                <li class="nav-item">
                    <a class="nav-link" href="/seguimiento">Seguimiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Administracion</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>

    <div class="">

        <br>
        <br>
        <br>
        <br>


    </div>

    <div class="container">

        <div class="row align m-2">
            <h1>Estado de su vehiculo</h1>
        </div>
  
        <table class="table">
  
            <thead>
            <tr>
                <th>Vehiculo</th>
                <th>Cliente</th>
                <th>Comentario</th>
                <th>Costo</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Codigo</th>
                
               
            </tr>
            </thead>
            <tbody>
  
            <tr th:each=" s : ${listaRegistros}">
              
              
                <td scope="row" th:text="${s.getVehiculoByIdVehiculo().toString()}"></td>
                <td th:text="${s.getVehiculoByIdVehiculo().getClienteByIdCliente()}"></td>
                <td th:text="${s.getVehiculoByIdVehiculo().getComentario()}"></td>
                <td th:text="${s.getCosto()}"></td>
                <td th:text="${s.getEstado()}"></td>
                <td th:text="${s.getDia()}+'/'+${s.getMes()}+'/'+${s.getAnio()}+' '+${s.getHora()}"></td>
                <td th:text="${s.getCodigo()}"></td>
              
  
            </tr>
            </tbody>
  
        </table>
  
    </div>
    </div>
  
  

</div>

<script>
    function validaFormulario() {
        var nombreEscrito = document.getElementById("nombreTf").value;

        if (condition) {

        } else {

        }

    }
</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>